body{
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 4fr 100px

}

header{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    

}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    

}